.jumbotron{

  border-radius:10px;
    background:
url('https://source.unsplash.com/1600x1050/?nature');
background-repeat: no-repeat;
background-attachment: fixed;
color:white;
height:340px;
}

.page-scroll{
  height:5000px;
}

.btn-outline-danger{
  color:white;
  border-color:white;
  font-weight:100;
  margin-top:20px;
}
.lead{
  font-family:raleway;
  font-weight:100;
  margin-top:-10px;
}
